/* Display Recipe Screen */
.recipe {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

.recipe > h1 {
    font-size: 28px;
}

.recipeInfo, .ingredients, .directions {
    display: flex;
    flex-direction: row;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.recipeInfo > p {
    border: black 1px solid;
    padding: 20px;
}

.recipe > h1{
    text-decoration: underline;
}

.ingredients > ul, .directions > ul {
    list-style-type: square;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ingredients > ul > li, .directions > ul> li {
    text-align: left;
}

.ingredients, .directions {
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.ingredients > h3, .directions > h3 {
    text-decoration: underline;
    font-size: 24px;
    width: 100%;
}

/* Edit Recipe Screen */

.editRecipe {
    margin-top: 25px;
}

/* Add Recipe Screen */

.recipeName {
    width: 50%;
}

.recipeNameInput, .recipePrep, .recipeCook, .recipeServing {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
}

.mainContainer, .editRecipe {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.mainContainer > label > textarea, .editRecipe > textarea, .editRecipe > label > textarea {
    margin-bottom: 15px;
    height: 150px;
    width: 100%;
}

.editRecipe > label {
    font-size: 18px;
}

/* .mainContainer > label,  */
 .ingredientsLabel, .directionsLabel, .recipeTagsLabel {
    width: 100%;
    font-size: 18px;
    text-align: left;
}

.mainContainer > button, .editBtn, .saveBtn, .deleteBtn {
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.editBtn, .deleteBtn {
    margin: 10px;
}