nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    min-height: 75px;
    background-color: black;
    color: white
}

nav > p, .search, .mainLinks {
    display: inline-block;
    margin-top: 20px;
}

nav > h1 {
    font-size: 36px;
    margin: 0;
}

.search > label > input {
    font-size: 16px;
    padding: 3px;
    width: 320px;
}

.search > button {
    margin-left: 5px;
    font-size: 18px;
    cursor: pointer;
}

.search {
    min-height: 45px; 
}

.mainLinks {
    font-size: 20px;
    min-height: 45px;
    color:white
}

.mainLinks > a {
    margin: 0 10px;
}

.mainLinks > a:visited {
    color: white;
}

.mainLinks > a:hover {
    color: lightblue;
}